
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modifier L'étudiant</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ form_start(form, {'action': path('editStudent'), 'method': 'POST'}) }}
<div class="modal-body">
    {{ form_row(form.id,{'id':"id"}) }}
    {{ form_rest(form) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-primary">Modifier</button>
</div>
{{ form_end(form) }}
