
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background: #F1F3FA;
}
body {
    overflow-x:hidden;
}
#mainNav {
    background-color: darkslategrey;
}
#mainNav .navbar-brand {
    color: #fed136;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}


.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.theContent{
    margin-left: 276px;
    margin-right: 16px;
}

.sidebar {
        position: fixed;
        width: 250px;
    margin-left: 16px;
}

footer {
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
    text-align: center;
    background-color: white;
    margin-left: 276px;
    margin-right: 16px;

}


footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:black;
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
}
.content{
    margin-top:40px;
}


/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

.profile-userpic img {
    float: none;
    display:block;
    margin:auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0;
}

.profile-usermenu {
    margin-top: 15px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: medium;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}


.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #0785ef;
    background-color: #f6f9fb;
    border-left: 3px solid #0785ef;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 500px;
    box-shadow: 0px 0px 3px -1px rgba(0,0,0,0.75);
}

.nav>li {
    position: relative;
    display: block;
}

.img-center{
    display: block;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right:auto;
}
.hidden{
    display: none;
}
div.alert-message {
    display: block;
    padding: 13px 12px 12px;
    font-weight: bold;
    color: white;
    background-color: #2ba6cb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    position: relative;
}
div.alert-message .box-icon {
    display: block;
    float: left;
    background-image: url('../images/icon.png');
    width: 30px;
    height: 25px;
    margin-top: -2px;
    background-position: -8px -8px;
}
div.alert-message p {
    margin: 0px;
}
div.alert-message.success {
    background-color: #5da423;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.success .box-icon {
    background-position: -48px -8px;
}
div.alert-message.warning {
    background-color: #e3b000;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.warning .box-icon {
    background-position: -88px -8px;
}
div.alert-message.error {
    background-color: #c60f13;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.error .box-icon {
    background-position: -128px -8px;
}
div.alert-message a.close {
    color: #333;
    position: absolute;
    right: 4px;
    top: -1px;
    font-size: 17px;
    opacity: 0.2;
    padding: 4px;
}
div.alert-message a.close:hover, div.alert-box a.close:focus {
    opacity: 0.4;
}
@media (max-width: 1008px) {
    #toggle-menu{
        display: block;
        margin-right: 10px;
    }
}
