

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
body {
  background: url("../img/background_2.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x:hidden;
}

.card-header{
    font-size: x-large;
}

.navbar{
    padding: 0;
    box-shadow: 0 0 3px 0px black;
}

#mainNav {
  background-color: #fff;
}

#mainNav .navbar-toggler {
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #094d8f;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #094d8f;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}


#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: #007bff;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
  }
}

#login{
  border-radius:25px;
  padding: 0.8em 1em !important;
  margin-top:0.3em;
}

.content{
  margin-top:20%;
  margin-bottom: 5%;
}


.btn-primary:hover {
    box-shadow: 2px 4px 16px -4px rgba(0,0,0,0.75) !important;
}

.btn-outline-primary:hover {
    color: white !important;
    box-shadow: 2px 4px 16px -4px rgba(0,0,0,0.75) !important;
}

.btn-oprimary:active,
.btn-primary:visited,
.btn-primary:focus {
  box-shadow:none;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

@media (min-width: 400px) {
  .content{
    margin-top:15% !important;
    margin-bottom: 5%;
  }
}

@media (min-width: 500px) {
  .content{
    margin-top:8% !important;
    margin-bottom: 5%;
  }
}

footer {
  text-align: center;
    background-color: #fff;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
div.alert-message {
    display: block;
    padding: 13px 12px 12px;
    color: white;
    background-color: #2ba6cb;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    position: relative;
}
div.alert-message .box-icon {
    display: block;
    float: left;
    background-image: url('../img/icon.png');
    width: 30px;
    height: 25px;
    margin-top: -2px;
    background-position: -8px -8px;
}
div.alert-message p {
    margin: 0px;
}
div.alert-message.success {
    background-color: #5da423;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.success .box-icon {
    background-position: -48px -8px;
}
div.alert-message.warning {
    background-color: #e3b000;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.warning .box-icon {
    background-position: -88px -8px;
}
div.alert-message.error {
    background-color: #c60f13;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}
div.alert-message.error .box-icon {
    background-position: -128px -8px;
}
div.alert-message a.close {
    color: #333;
    position: absolute;
    right: 4px;
    top: -1px;
    font-size: 17px;
    opacity: 0.2;
    padding: 4px;
}
div.alert-message a.close:hover, div.alert-box a.close:focus {
    opacity: 0.4;
}
