{% extends 'base.html.twig' %}

{% block body%}
    <div class="container content">
        <div class="row">
            <div class="card card-register mx-auto mt-5 col-md-8">
                <div class="card-header">Register an Account</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-3">
                                    <div>
                                        <label>Vous etes :</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="radio1">
                                            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Etudiant
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label" for="radio2">
                                            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Professeur
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label for="firstName">Prénom :</label>
                                        <input type="text" id="firstName" class="form-control" placeholder="Entrez votre prénom" required="required" autofocus="autofocus">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label for="lastName">Nom :</label>
                                        <input type="text" id="lastName" class="form-control" placeholder="Entrez votre nom" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="inputEmail">Email :</label>
                                <input type="email" id="inputEmail" class="form-control" placeholder="Entrez votre émail" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="departement">Département :</label>
                                <select id="departement" class="custom-select">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label for="inputTel">Télephone(Optionnel) :</label>
                                        <input type="text" id="inputTel" class="form-control" placeholder="+(212) 645 45 45 45" required="required" autofocus="autofocus">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label for="inpudIdentity">CNE/Numero de somme :</label>
                                        <input type="text" id="inpudIdentity" class="form-control" placeholder="CNE/Numero de somme" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label for="inputPassword">Mot de passe :</label>
                                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label for="inputPassword">Confirmer mot de passe :</label>
                                        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmer le mot de passe" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block">Register</button>
                    </form>
                    <div class="text-center">
                        <a class="d-block medium" href="#">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}