{% extends 'base.html.twig' %}

{% block body%}

    <div class="row">
        <div class="card card-login mx-auto mt-5 col-md-6">
            <div class="card-header">Restorer le mot de passe</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Vous avez oubliez votre mot de passe?</h4>
                    <p>Entrez votre addresse émail et nous vous envoyerons les instructions pour le restorer.</p>
                </div>
                <form action="{{ path('reset') }}" method="post">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Entrez votre addresse email" required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Restorer le mot de passe</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}